:root{
--light-text-color:black;
--dark-text-color:white;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
 .videoBx-section{
  margin-left: 100px
}
header{
  display:flex;
  background-color: white;
  position: fixed;
  max-width:100%;
  z-index: 300;
  top: -10px;
  left: -10px;
  right: 0;
}
.left-section{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:225px;
  margin-left: 30px;
}
.left-section-img img{
  width:140px;
  position:relative;
}
.left-section-img span{
  position:absolute;
  background-color: white;
  top:19px;
  left:185px;
  font-size:10px;
  color:rgb(90,90,90);
}
.left-section .fa-bars{
  font-size: 22px;
  cursor: pointer;
}
.fa-bars{
  padding: 10px;
  border-radius:10.5px;
}
.fa-bars:hover{
  background-color:rgb(224, 224, 224);
}
.middle-section{
  display:flex;
  align-items: center;
  justify-content: center;
  flex:1;
}
.middle-section .search-bar{
  width:80%;
  border-radius:215px 0px 0px 215px;
  padding:0px 4px 0px 16px;
  height:40px;
  border:none;
  border:1px solid rgb(224, 224, 224);;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.middle-section .search-bar{
  outline: none;
}
.middle-section .search-bar:focus{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar::placeholder{
  font-size: 16px;
  font-weight: 300;
}
.middle-section .fa-search{
 padding:11px 20px;
 border-radius:0px 215px 215px 0px;
 border:1px solid rgb(224, 224, 224);
 background-color: #f8f8f8;
 color:gray;
}
.middle-section .fa-search:hover{
  background-color: rgb(224, 224, 224);
  border:1px solid  #f8f8f8;
}
.middle-section .fa-microphone{
font-size:20px;
border:1px solid rgb(236, 236, 236);
display:flex;
align-items:center;
justify-content:center;
padding:10px 12px;
border-radius: 50%;
background-color: rgb(236, 236, 236);
margin-left:10px;;
}

.search-button,
.voice-search-button,
.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
  opacity: 1;
}
.right-section{
  width:225px;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  flex-shrink: 0;
}
.right-section img{
  width:32px;
  border-radius:16px;
}
.right-section .bx-video-plus{
  font-weight:100;
}
.notifications-icon-container {
  position: relative;
}

.badge {
  position: absolute;
  top:25px;
  right:95px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.right-section .fa-bell-o , .right-section .fa-video-camera{
  font-size: 22px;
}
.sidebar-container{ 
  display:flex;
  flex-direction: column;
  position: fixed;
  top:60px;
  bottom:0;
  justify-content:flex-start;
  align-items: center;
  background-color: white;
  transition:width 200ms  ease-in-out , margin-left 200ms  ease-in-out;
}
.sidebar-container.open{
  width:120px;
}
.box{
  border-bottom: 1px solid #dbdbdb;
  width:100%;
}
.sidebar-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top:20px;
padding-left: 0px;
margin-bottom: 10px;
}
.sidebar-box.open , .you-box.open{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  margin-top: 15px;
}
.sidebar-container .sidebar-box{
   width:125%; 
   transition:padding 200ms ease-in-out ;
}
.sidebar-container.open {
  margin-top: 10px;
}
.sidebar-container.open , .sidebar-box.open , .you-box.open{
  margin-left:10px;
}
.sidebar-container .sidebar-box:hover{
  background-color:#dbdbdb;
  cursor: pointer; 
  border-radius: 20px;
  padding:10px;
}
.sidebar-container i , .sidebar-container .tv{
  font-size: 17px;
}
.sidebar-box p{
  font-size: 10px;
  color:rgb(15, 15, 15);
  text-align:center;
}
.sidebar-box.open p{
  font-size: 15px;
  color:rgb(20, 19, 19);
  font-weight: 350;
  text-align:end;
  padding-left: 14px;
}
.sidebar-container .sidebar-box img{
  width:18px;
}
.sidebar-container .sidebar-box .download-img{
  width:42px;
}
.you-box{
  display: none;
}
.you-box.open{
  display:flex;
  
}
.options-section{
  display:flex;
  flex-shrink:0;
  justify-content:space-between!important;
  align-items: center;
  position:absolute;
  z-index:200;
  top:90px;
  left:75px;
  transition:position 200ms  ease-in-out , left  200ms  ease-in-out;
}
.options-section.open{
  position:absolute;
  left:160px;
}
.options-box{
  padding:4px 8px;
  background-color:rgb(236, 236, 236); 
  color:rgb(15, 15, 15);
  border-radius:6px;
  font-weight: 400;
  margin-left: 20px;
  cursor: pointer;
}
.options-box:hover{
  background-color: #dbdbdb;
}
.active{
  background-color: black;
  color:white;
  font-weight: 500;
}
.videoBx-section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 120px;
  position: relative;
  transition: margin-left  200ms  ease-in-out;
}
.videoBx-section.open {
  margin-left: 190px;
}
.shorts-section{
  margin-left: 100px;
}
.shorts-section.open{
  margin-left: 190px;
}
.video-Bx-container{
  margin-top:30px;
  margin-bottom: 30px;
}
.videoBx-img{
  position:relative;
}

.videoBx-img img{
 width:375.984px;
 border-radius: 10px;
 position: relative;
}
.videoBx-img img:hover{
  border-radius: 0px;
}
.videoBx-text{
  display:grid;
  grid-template-columns:12% 1fr 15%;
  margin: 24px 0 0 0;
}
.channel-picture img{
 width:36px;
 border-radius:18px;
}
.video-info .video-title , .shorts-title{
  font-size:16px;
  color:rgb(15, 15, 15);
  font-weight: 500;
  line-height: 22px;
}
.video-info .video-author , .video-info .video-views-duration , .shorts-views-duration{
  font-size:14px;
  color:rgb(90, 90, 90);
  line-height: 22px;
  font-weight: 400;
}
.video-info .video-views-duration {
 vertical-align: center;
}
.video-time{
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom:8px;
  right:45px;

}
.shorts-logo{
  display:flex;
  align-items: center;
  margin-bottom: 15px;
}
.shorts-logo img{
  width:24px;
  padding-right: 9px;
}
.shorts-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.shorts-container .shorts-box img{
  width:219px;
  border-radius: 8px;
}
.last{
  width:100%;
  display: flex;
  justify-content: center;
}
.last-btn{
  margin-top: 40px;
  width:50%;
  background-color: #f8f8f8;
  color:black;
  border:1px solid black;
  padding:6px;
  border-radius: 100px;
}